@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderAdCode = "div-gpt-ad-1498571364610-9";
    ViewBag.FooterAdCode = "div-gpt-ad-1498571364610-8";
}

<h1>Comparte las rutas que conozcas</h1>
<p>Lamentablemente no ha sido posible juntar todas las rutas del transporte público del DF. La <a href="http://www.setravi.df.gob.mx" target="_blank" style="font-weight:normal">Secretaría de Transportes y Vialidad</a> por ejemplo no tiene la información sobre las rutas de los microbuses en forma digital. Por eso, ViaDF depende de ustedes que nos comparten las rutas que conozcan.</p>

<p>En el momento ViaDF cuenta con <b>@ViewBag.NumberRoutes</b> Rutas del transporte público del DF.</p>


<p>Por el momento no es posible agregar nuevas rutas, porque estoy cambiando esta sección de la página.</p>


<p>Para agregar una nueva ruta hay que seguir los siguientes pasos:</p>
<ul>
    <li>- Verficar en <a href="/Directorio/Distrito-Federal" target="_blank">su colonia</a> si todavía no está la ruta en el sistema.</li>
    <li>- <a href="/Admin/CrearRuta" style="font-size:14px;">Agregar la ruta en el formulario de ViaDF (solo funciona en desktop)</a></li>
    <li>- Después de verificar la ruta, la integramos en la búsqueda.</li>
</ul>

<p><b>Muchísimas gracias! Sin su ayuda, ViaDF no sería posible.</b></p>
