@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["DisableAds"] = true;
}

<style>
    .collapsible-body {
        padding: 20px;
    }

    .collapsible-header {
        position: relative;
    }

        .collapsible-header > p {
            line-height: 1.5rem;
        }

        .collapsible-header > i {
            position: absolute;
            right: 0;
            top: -20px;
        }
</style>

<h1>REST API - Servicios web</h1>

<p>
    Para usar los servicios web de ViaDF es necesario conseguir un API key. Si estás interesado en usar los servicios web en tu aplicación, por favor <a target="_blank" href="mailto:viadf.com.mx@gmail.com?subject=Generar API Key">contáctanos</a> y te darémos 100 créditos gratuitos para probar el servicio. También te mandaremos información de precios y planes para adquirir más créditos.
</p>

<h2>Servicios disponibles</h2>

<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header active">
            <h3>GET /service/search</h3>
            <p>
                Servicio web para buscar una ruta del transporte público.
            </p>
            <p><b>1 Crédito</b></p>
            <i class="material-icons">&#xE5C5;</i>
        </div>
        <div class="collapsible-body">

            <h3>Parámetros</h3>
            <table>
                <tr>
                    <td><b>de</b></td>
                    <td>coordenadas del inicio (ejemplo: 19.37923123,-99.10968304)</td>
                </tr>
                <tr>
                    <td><b>a</b></td>
                    <td>coordenadas del destino (ejemplo: 19.46483212,-99.14238453)</td>
                </tr>
                <tr>
                    <td><b>count</b></td>
                    <td>cantidad de resultados (max. 5)</td>
                </tr>
                <tr>
                    <td><b>key</b></td>
                    <td>API key</td>
                </tr>
            </table>

            <h3>Ejemplo</h3>
            <a target="_blank" href="http://www.viadf.com.mx/service/search?de=19.37923123,-99.10968304&a=19.46483212,-99.14238453&count=3&key=...">http://www.viadf.com.mx/service/search?de=19.37923123,-99.10968304&a=19.46483212,-99.14238453&count=3&key=...</a>

        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <h3 style="word-break: break-all;">GET /service/orderbytraveltime</h3>
            <p>
                Servicio web para ordenar una lista de coordenadas dependiendo de su distancia en tiempo de recorrido, de un punto de inicio.
            </p>
            <p><b>2 Créditos</b></p>
            <i class="material-icons">&#xE5C5;</i>
        </div>
        <div class="collapsible-body">

            <h3>Parámetros</h3>
            <table>
                <tr>
                    <td><b>start</b></td>
                    <td>coordenadas del inicio (ejemplo: 19.43255,-99.13337)</td>
                </tr>
                <tr>
                    <td><b>points</b></td>
                    <td>lista de coordenadas (max. 100 coordenadas) (ejemplo: 19.27923,-99.13238;19.35923,-99.11238)</td>
                </tr>
                <tr>
                    <td><b>type</b></td>
                    <td>1 - caminando / 2 - transporte público</td>
                </tr>
                <tr>
                    <td><b>key</b></td>
                    <td>API key</td>
                </tr>
            </table>

            <h3>Ejemplo</h3>
            <a target="_blank" href="http://www.viadf.com.mx/service/orderbytraveltime?start=19.43255,-99.13337&points=19.27923,-99.13238;19.35923,-99.11238&type=2&key=...">http://www.viadf.com.mx/service/orderbytraveltime?start=19.43255,-99.13337&points=19.27923,-99.13238;19.35923,-99.11238&type=2&key=...</a>
        </div>
    </li>
    <li>
        <div class="collapsible-header active">
            <h3 style="word-break: break-all;">GET /service/getcredits</h3>
            <p>
                Servicio web para consultar los creditós restantes del API key.
            </p>
            <i class="material-icons">&#xE5C5;</i>
        </div>
        <div class="collapsible-body">

            <div>
                <h3>Parámetros</h3>
                <table>
                    <tr>
                        <td><b>key</b></td>
                        <td>API key</td>
                    </tr>
                </table>

                <h3>Ejemplo</h3>
                <a target="_blank" href="http://www.viadf.com.mx/service/getcredits?key=...">http://www.viadf.com.mx/service/getcredits?key=...</a>

            </div>
        </div>
    </li>
</ul>