@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderAdCode = "div-gpt-ad-1498571364610-5";
    ViewBag.FooterAdCode = "div-gpt-ad-1498571364610-4";
}


<h1>Datos abiertos</h1>
<p>
    Me han llegado muchos correos donde preguntan por los datos de ViaDF. Por eso decidí publicar la base de datos bajo la licencia <a href="http://opendatacommons.org/licenses/by/summary/" target="_blank"><b>Open Data Commons Attribution License</b></a> para que la puedan usar en sus proyectos.
</p>
<p>
    Eso significa:
</p>
<ul>
    <li>Cuando usan los datos tienen que mencionar en algún lugar que los datos vienen de ViaDF.</li>
    <li>Si logran mejorar y/o completar la base de datos, sería increíble que la publicarán otra vez como <a href="http://opendatacommons.org/licenses/by/summary/" target="_blank">Open Data</a> (eso no es mandatorio).</li>
    <li>Por favor escríbenos un mensaje en <a href="https://www.facebook.com/ViaDF" target="_blank">nuestra página de Facebook</a>.</li>
</ul>

<h2>Rutas del transporte público</h2>
<p>Este archivo contiene las rutas del transporte público de la Ciudad de México de la base de datos de ViaDF (versión del 28.04.2017).</p>
<p>
    <a href="/Content/files/data/data.zip" target="_blank" onclick="_gaq.push(['_trackEvent','Download','Data',this.href]);">Descargar (1.6MB) <img src="/Content/img/zip-icon.png" /></a>
</p>

<h2>Búsquedas realizadas del 2010 al 2015</h2>
<p>Este archivo contiene todas las búsquedas (anónimas) de los últimos años que se realizaron a traves de ViaDF (versión del 13.07.2015).</p>
<p>
    <a href="/Content/files/statistics/statistics.zip" target="_blank" onclick="_gaq.push(['_trackEvent','Download','Statistics',this.href]);">Descargar (67MB) <img src="/Content/img/zip-icon.png" /></a>
</p>


