
<h2>Datos abiertos</h2>
<p>
    Me han llegado muchos correos donde preguntaron por los datos de ViaDF. Por eso decidí publicar la base de datos bajo la licencia <a href="http://opendatacommons.org/licenses/by/summary/" target="_blank"><b>Open Data Commons Attribution License</b></a> para que la puedan usar en sus projectos.
</p>
<p>
    Eso significa:
</p>
<ul>
    <li>Cuando usan los datos tienen que mencionar en algun lugar que los datos vienen de ViaDF.</li>
    <li>Si logran mejorar / completar la base de datos, seria increible si la puedan publicar otra vez como Open Data (eso no es mandatorio)</li>
    <li>Y claro: Nos interesan todos sus proyectos. Por favor escribenos un mensaje en <a href="https://www.facebook.com/ViaDF" target="_blank">nuestra página de Facebook</a>.</li>
</ul>

<h3>Rutas del transporte público</h3>
<p>En este archivo se encuentran todas las rutas del transporte público de la Ciudad de México de la base de datos de ViaDF (versión del 13.07.2015).</p>
<p>
    <a href="/Content/files/data/data.zip" target="_blank" onclick="_gaq.push(['_trackEvent','Download','Data',this.href]);">Descargar (1.5MB) <img src="/Content/img/zip-icon.png" /></a>
</p>

<h3>Busquedas realizadas del 2010 al 2015</h3>
<p>En este archivo se encuentran todas las busquedas (anonimas) de los ultimos años que se realizaron a traves de ViaDF (versión del 13.07.2015).</p>
<p>
    <a href="/Content/files/statistics/statistics.zip" target="_blank" onclick="_gaq.push(['_trackEvent','Download','Statistics',this.href]);">Descargar (67MB) <img src="/Content/img/zip-icon.png" /></a>
</p>


