
    <h2>Políticas de Privacidad</h2>   
        
    <h3>Datos de identificación personal</h3>
    <p>
    ViaDF.com.mx no recopila datos de identificación personal sobre los individuos excepto cuando los individuos suministran dicha información voluntariamente, al enviar correo electrónico u otra comunicación dirigida a ViaDF.com.mx o a través de ViaDF.com.mx. 
    ViaDF.com.mx mantendrá mecanismos de protección adecuados, y que se adhieran a las normas de la industria, para garantizar la seguridad, integridad y privacidad de la información recopilada de los usuarios de ViaDF.com.mx.
    Los datos de identificación personal recopilados por ViaDF.com.mx o en ViaDF.com.mx no se venderán ni serán suministrados a terceros sin el consentimiento del usuario. 
    A pesar de lo anterior, a los usuarios de ViaDF.com.mx se les informa que ViaDF.com.mx recopila datos estadísticos acumulativos sobre los visitantes, y que dichos datos pueden usarse para realizar investigaciones de mercado y otras actividades. Además, es posible que ViaDF.com.mx comparta los datos acumulativos y anónimos con socios promocionales, empresariales o publicitarios. Sin incluir alguna petición que haga un usuario para "no participar" en la recepción de información promocional, ViaDF.com.mx se reserva el derecho de comunicarse con un afiliado sobre el estado de su cuenta, cambios en el acuerdo del afiliado y otros asuntos pertinentes al sitio ViaDF.com.mx y/o la información suministrada por un usuario.
    </p>
        
    <h3>Divulgación de información</h3>
    <p>
    A pesar de su política general de no divulgar los datos de identificación personal a terceros, es posible que ViaDF.com.mx divulgue dicha información: (a) cuando ViaDF.com.mx tiene motivos para creer que la divulgación de dicha información es necesaria para identificar, comunicarse con, o emprender una acción legal en contra de alguien que pudiera estar perjudicando u obstaculizando (bien sea intencionalmente o no) los derechos o la propiedad de ViaDF.com.mx, otros usuarios de ViaDF.com.mx, o algún tercero; (b) según sea necesario para hacer respetar y cumplir los Términos y condiciones de uso de ViaDF.com.mx; (c) según lo requiera la ley; o (d) según lo indicado de otra manera por ViaDF en el sitio ViaDF.com.mx.
    </p>
          
    <h3>El uso de cookies</h3>
    <p>
    Es posible que este sitio use cookies en conexión con ciertas características o funciones. Los archivos cookies son tipos específicos de información que un sitio web transmite al disco duro de la computadora de un usuario con el fin de mantener registros. Los cookies pueden servir para facilitar el uso de un sitio web, por ejemplo, al guardar contraseñas y preferencias mientras el usuario visita el sitio. ViaDF.com.mx no usa cookies para obtener datos de identificación personal de la computadora de un usuario que no se hayan enviado originalmente como parte del cookie. Aunque la mayoría de los navegadores aceptan cookies automáticamente, usted puede configurar su navegador para que no los acepte. Existe la posibilidad de que ViaDF.com.mx permita que otras empresas que presentan anuncios u otras funciones en ViaDF.com.mx obtengan acceso a los cookies en su computadora. ViaDF.com.mx no controla la política de cookies de otras empresas.
    </p>
        
    <h3>Enlaces</h3>
    <p>
    ViaDF.com.mx podría contener enlaces a otros sitios web. ViaDF.com.mx no puede controlar las políticas de privacidad de otros sitios ni es responsable por éstas. ViaDF.com.mx recomienda que los usuarios estén conscientes de ésto cuando salgan de ViaDF.com.mx, y lean las declaraciones de privacidad en cada sitio web que visitan. Dicha política de privacidad se aplica sólo a la información recopilada por ViaDF.com.mx.
    </p>
        
    <h3>Aceptación de la política</h3>
    <p>
    Al usar el sitio ViaDF.com.mx, usted indica que acepta esta Política de privacidad. Si no acepta esta Política, no utilice el sitio ViaDF.com.mx. Su uso continuo de ViaDF.com.mx implica que usted acepta esta Política y cualquier modificación de la misma. ViaDF.com.mx se reserva el derecho de cambiar esta Política en cualquier momento. Esta Política no crea ningún derecho legal o contractual, ni pretende hacerlo, en nombre de ninguna institución ni en beneficio de ninguna institución.
    </p>

    <h3>Notificación de cambios en la política</h3>
    <p>
    Si ViaDF.com.mx cambia esta Política de privacidad, dichos cambios aparecerán en el sitio web ViaDF.com.mx para que los usuarios se enteren de los datos recopilados por ViaDF.com.mx, la forma en que dichos datos se usan, y en qué circunstancias, si las hubiere, se puede divulgar la información. Si usted tiene alguna pregunta o duda relacionada con esta declaración de privacidad, por favor comuníquese con ViaDF.com.mx usando el formulario de contacto.
    </p>
