@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HeaderAdCode = "div-gpt-ad-1498571364610-9";
    ViewBag.FooterAdCode = "div-gpt-ad-1498571364610-8";
}

@using viadflib

<h1>Ruta registrada</h1>
<p>La ruta quedó registrada. En pocos dias será revisada y activada para todos los usuarios de ViaDF.</p>
<br /><br />
<p><b>Muchísimas gracias! Sin su ayuda, ViaDF no sería posible.</b></p>
