
@using viadflib

<h2>Ruta registrada</h2>
<p>La ruta quedó registrada. En pocos dias será revisada y activada para todos los usuarios de ViaDF.</p>
<br /><br />
<p><b>Muchísimas gracias! Sin su ayuda, ViaDF no sería posible.</b></p>
