<h2>Servicio web REST</h2>

<h3>GET http://www.viadf.com.mx/service/search </h3>
<p>
    Servicio web para buscar una ruta del transporte público.
</p>
<b>Parametros</b>
<table>
    <tr>
        <td><b>de</b></td>
        <td>coordenadas del inicio (ejemplo: 19.37923123,-99.10968304)</td>
    </tr>
    <tr>
        <td><b>a</b></td>
        <td>coordenadas del destino (ejemplo: 19.46483212,-99.14238453)</td>
    </tr>
    <tr>
        <td><b>count</b></td>
        <td>cantidad de resultados</td>
    </tr>
    <tr>
        <td><b>format</b></td>
        <td>json o xml</td>
    </tr>
</table>

<h3>Ejemplo</h3>
<p>
    <a target="_blank" href="http://www.viadf.com.mx/service/search?de=19.37923123,-99.10968304&a=19.46483212,-99.14238453&count=3&format=json">http://www.viadf.com.mx/service/search?de=19.37923123,-99.10968304&a=19.46483212,-99.14238453&count=3&format=json</a>
</p>
