<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
<connectionStrings>
    <add name="viadflib.Properties.Settings.viadfConnectionString"
        connectionString="Data Source=localhost\sqlexpress;Initial Catalog=viadf;Integrated Security=True;Pooling=False"
        providerName="System.Data.SqlClient" />
    <add name="viadflib.Properties.Settings.DB_35815_viadfConnectionString"
        connectionString="Data Source=tcp:s07.winhost.com;Initial Catalog=DB_35815_viadf;Integrated Security=False;User ID=DB_35815_viadf_user;Password=2brantin"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
