body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	word-wrap: break-word;
}

.main {
    flex: 1 0 auto;
}


.button {
    margin-right: 10px;
}

.selected {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    font-weight:bold;
}

/* activated by special javascript */
.inapp-show {
    display: none;
}
