<div class="row center-align">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Mobile Ad Responsive -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-2461827238480440"
         data-ad-slot="6254948050"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>