@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using viadf.Models

@model CreateRouteModel
  
<h1>No se encontró ninguna ruta.</h1>
<p>Lo sentimos, pero no se pudo encontrar una ruta con tus datos. Intentalo de nuevo con otra búsqueda.</p>
<br /><br />
@Html.ActionLink("Nueva búsqueda", "Index", "Home", null)
<br /><br /><br /><br /><br />