<h1>Admin</h1>

@Html.ActionLink("List of routes", "Routes")

<p>Index all active routes</p>
@Html.ActionLink("Update index", "RebuildIndex", new { timeout = 120 })

<p>Refresh index - Hot swap</p>
@Html.ActionLink("Refresh index", "RefreshIndex")
